out/production/java-codigofacilito/Triangulo.class
out/production/java-codigofacilito/Main.class
out/production/java-codigofacilito/Coordenadas.class
java-codigofacilito.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/.name
